<link rel="stylesheet" href="{{ url_for('static', filename='css/input_form.css') }}">

<form id="equipment-form" action="/submit_equipment_information" method="POST" enctype="multipart/form-data">
    <label for="equipment-name">Equipment Name:</label>
    <input type="text" id="equipment-name" name="equipment-name" required>

    <label for="equipment-id">Equipment ID:</label>
    <input type="text" id="equipment-id" name="equipment-id" required placeholder="Insert equipment identification number">

    <div class="form-group">
        <label for="equipment-image" class="form-label">Equipment Image:</label>
        <input type="file" id="equipment-image" name="equipment-image" accept="image/*" required>
    </div>

    <label for="manager-name">Manager Name:</label>
    <input type="text" id="manager-name" name="manager-name" required>

    <label for="manager-id">Manager ID:</label>
    <input type="text" id="manager-id" name="manager-id" placeholder="Insert your identification number" required>

    <div class="form-group">
        <label for="manager-dp-input" class="form-label">Manager DP:</label>
        <input type="file" id="manager-dp-input" name="manager-dp" accept="image/*" required>
    </div>

    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea>

    <label for="features">Features (Separated by //):</label>
    <textarea id="features" name="features" required></textarea>

    <button type="submit">Submit</button>
</form>

<div id="error-message" style="color: red; display: none;"></div>

<script src="{{ url_for('static', filename='js/input_form.js') }}"></script>