<link rel="stylesheet" href="{{ url_for('static', filename='css/user_login.css') }}">


<div class="form-box">
    <div class="form-container">
        <h2>Login</h2>
        <form id="login-form" action="/user_login" method="POST">
            <div class="form-group">
                <label for="login_input">Email, Username, or Phone Number</label>
                <input type="text" id="login_input" name="login_input" placeholder="Enter your email, username, or phone number" required>
            </div>
            <div class="form-group">
                <label for="login_password">Password</label>
                <input type="password" id="login_password" name="login_password" placeholder="Enter your password" minlength="8" required>
                <small>Password must be at least 8 characters</small>
            </div>
            <button type="submit" class="submit-btn">Login</button>
        </form>
        <div class="signin-toggle-btn">
            <p>Don't have an account? <a href="javascript:void(0);" onclick="toggleForms()">Sign In</a></p>
        </div>
    </div>
</div>
