<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | LEBS</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    {% block flaskMessage %}
    {% include 'components/flash.html' %}
    {% endblock %}
    {% block navbar %}
    {% include 'components/navbar.html' %}
    {% endblock %}
    <main>
        <section class="bg-img" id="bg-img-1"></section>
        <section class="dashboard">
            {% block infomation %}
            {% include 'components/dashboard_home.html' %}
            {% endblock %}
        </section>
        <section class="booking-toggle">
            {% block bookingButton %}
            {% include 'components/booking_toggle.html' %}
            {% endblock %}
        </section>
        <section class="avatars">
           
        </section>
    </main>
    {% block footer %}
    {% include 'components/footer.html' %}
    {% endblock %}
</body>
</html>