<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login | LEBS</title>
</head>
<body>
    {% block flaskMessage %}
    {% include 'components/flash.html' %}
    {% endblock %}

    {% block navbar %}
    {% include 'components/navbar.html' %}
    {% endblock %}
    <main>
        <div id="login-section">
            {% block userLogin %}
            {% include 'components/user_login.html' %}
            {% endblock %}
        </div>

        <div id="signin-section" style="display:none;">
            {% block userSignin %}
            {% include 'components/user_signin.html' %}
            {% endblock %}
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>