body{
    margin: 0;
    padding: 0;
    min-height: calc(max-content + 100px);
}

#title{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
}

.equipment-card-container{
    display: flex;
    width: 100%;
    min-height: calc(max-content + 100px);
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    flex-direction: column;
    gap: 55px;
}

/* Optional: Transition effect for input form container */
#input-form-container {
    opacity: 0;
    transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.equipment-card-container, .input_form {
    transition: all 0.5s ease; /* Smooth transition for visibility */
}

#input_form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 300px) and (max-width: 812px){
    #title h1{
        font-size: 30px;
        margin-top: 15%;
        display: flex;
        justify-content: center;
    }

    .equipment-card-container{
        margin-top:13%;
    }

}