* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  footer {
    background-color: #2e3d45;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-section {
    flex: 1;
    margin: 20px;
  }
  
  .footer-section h3 {
    margin-bottom: 20px;
    font-size: 1.2em;
  }
  
  .footer-section p, .footer-section ul {
    font-size: 0.9em;
    line-height: 1.8em;
  }
  
  .footer-section ul {
    list-style: none;
  }
  
  .footer-section ul li {
    margin-bottom: 10px;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  .footer-section .socials a {
    display: inline-block;
    margin-right: 15px;
    color: #fff;
    font-size: 1.5em;
  }
  
  .footer-section .socials a:hover {
    color: #ff9000;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #fff;
    padding-top: 20px;
    font-size: 0.9em;
  }
  
  .footer-bottom p {
    margin-bottom: 0;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      margin-bottom: 40px;
      text-align: center;
    }
  }