.inner_info-container{
    display: flex;
    justify-content: center;
    height: max-content;
    justify-content: space-around;
}
.infotab{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(#b859ee 0% 75%, #e6e6e6 75% 100%);
}
.inner{
    height: 70px;
    width: 70px;
    background-color: #d2d2d2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (min-width: 300px) and (max-width: 767px){

    .inner_info-container{
        display: flex;
        justify-content: center;
        height: max-content;
        justify-content: space-around;
    }
    .infotab{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: conic-gradient(#b859ee 0% 75%, #e6e6e6 75% 100%);
    }
    .inner{
        height: 39px;
        width: 39px;
        background-color: #d2d2d2;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
    }

}