.request-container{
    width: 80%;
    background-color: #dedede;
    height: 100px;
    border-radius: 20px;
    overflow: hidden;
    padding: 1%;
    transition: 0.3s ease-in-out;
}

.request-container.active{
    height: 256px;
    border-radius: 25px;
    box-shadow: 0px 3px 10px 0px gray;
}

.request-information{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.manager_toggle{
    display: flex;
    flex-direction: rows;
    gap: 100px;
    justify-content: center;
    margin-top:2%;
    width: 100%;
}

.manager_toggle button{
    border: 0px solid red;
    padding: 5%;
    width:130px;
    border-radius: 7px;
    color: white; 
    font-weight: bolder;
}

#accept button{
    background-color: #68da81;
}

#reject button{
    background-color: #da686e;
}

.disclaimer{
    width: 100%;
    text-align: center;
    padding: 10px;
}

.analyst_information{
    text-align:center;
    width:100%;
}

.analyst_information h6{
    width: 100%;
    margin-top: 3.5px;
    background-color: #3f5b88;
    color: white;
}